<ion-header>
    <ion-navbar [color] = "c">

        <ion-title>Quizz</ion-title>
    </ion-navbar>
</ion-header>


<ion-content  padding>
        <ion-row>
        <ion-col width-50 style="text-align: right">
            <button ion-button [color] = "c" round large (click)="begin()">
            <ion-icon name="ios-arrow-back"></ion-icon>
                </button>
        </ion-col>
        <ion-col width-50 style="text-align: center">
            <button ion-button [color]="c" icon-only round large (click)="play()">
            <ion-icon name="ios-volume-up"></ion-icon>
                </button>
        </ion-col>
        <ion-col width-50 style="text-align: left">
            <button ion-button [color]="c" icon-only round large (click)="stop()">
            <ion-icon name="ios-volume-off"></ion-icon>
                </button>
        </ion-col>
    </ion-row>


    <ion-list>
        <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)"> <!-- *ngFor="let item of items" : pour avoir plusieurs ligne  -->
            {{item.title}}
            <div class="item-note" item-right>{{item.note}}</div>
        </button>
    </ion-list>
    
</ion-content>

